@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


img{
    max-height: 100%;
}
input, textarea, select{
    @apply border border-white border-opacity-20  rounded-md px-1 w-full py-2 bg-black text-white pl-2 focus:outline-none focus:border-primary transition duration-300 placeholder:text-zinc-400;
    @apply mb-2;
}

h1{
    @apply text-white mb-4 text-2xl font-semibold;
}
h2{
    @apply text-primary text-opacity-90 mb-4 text-lg font-semibold;
}
label{
    @apply text-gray-300 text-sm;
}
.btn-primary{
    @apply cursor-pointer bg-black text-white px-4 py-2 rounded-sm shadow-sm font-semibold hover:bg-white hover:text-black duration-300 transition border border-white border-opacity-20;
}
table.basic {
    @apply shadow-md shadow-zinc-800 bg-zinc-800 border border-white border-opacity-10 rounded-md overflow-hidden table-auto;
}



table.basic thead tr td,
table.basic thead tr th {
    @apply text-sm text-white uppercase font-semibold tracking-wider px-4 py-2 text-center;
}

table.basic tbody tr {
    @apply border-b border-white border-opacity-10;
}

table.basic tbody tr:last-child {
    @apply border-none;
}

table.basic tr td {
    @apply px-4 py-2 text-white align-middle text-center;
}

table.basic a {
    @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}

table.basic th {
    @apply text-left;
}

.btn-default, .btn-red{
    @apply px-4 py-2 rounded-sm font-semibold cursor-pointer ;
}
.btn-red{
    @apply bg-red-200 text-red-600  shadow-sm hover:bg-red-600 hover:text-white duration-300 transition;
}
.btn-default{
    @apply bg-white text-gray-800  border border-gray-200 shadow-sm hover:bg-neutral-300 hover:text-gray-800 duration-300 transition;
}